doctype html
html
    include /wrapper/head
    body
        header 
            include /body/navigation
        main(class="flex flex-wrap justify-evenly")
            div(class="flex-auto basis-full relative top-0 left-0 hero bg-[url('/assets/images/banner_background.jpg')] bg-cover bg-center h-[20rem] flex flex-col items-center justify-center border-b-8 border-solid border-cyan-400 shadow-[0px_.3rem_1rem_2px_rgba(0,0,0,0.4)]")
                    div(class="absolute top-0 left-0 bg-black opacity-[.65] w-full h-full")
                    div(class="container px-4 mx-auto flex-initial")
                        h2(class="drop-shadow text-6xl text-yellow-400 font-['atrament'] font-bold uppercase tracking-widest text-center") Welcome to Level Crush 
            div(class="flex-initial basis-full lg:basis-5/12")
                div(class="container px-4 mx-auto mt-8 mb-16")
                    h3(class="text-4xl font-sans font-bold uppercase mb-4") WHO ARE WE ? 
                    p
                        | Level Crush was spoken into existence between a small circle of friends. 
                        | We began with one mission: To build a strong community that is diverse, friendly, and helpful! 
                        br 
                        br 
                        | Our venture first took place with Overwatch on Twitch.tv, then moved to Beam.pro, and followed them to the exciting rebranding into Mixer where we soared within the Destiny community. 
                        | Although we decided to step back from content creation as a community, our gamers continue to raid the Hive, loot King's Canyon, and creep through haunted farm houses at night. 
                        | Come join us!
                        a(class="block max-w-[12rem] text-center text-white bg-blue-600 hover:bg-blue-900 hover:cursor-pointer rounded px-4 py-2 mx-0 my-8", href="https://discord.gg/levelcrush", target="_blank") Join us on Discord 
                div(class="container px-4 mx-auto mt-8 mb-16")
                    h3(class="text-4xl font-sans font-bold uppercase mb-4") LOOKING FOR GROUP ? 
                    p
                        | Need another Guardian to take on Atheon? How about another squadmate to take on the kill leader? Or maybe run some casual creative modes? 
                        br
                        br
                        | Well, what are you waiting for? Ready up!
                        a(class="block max-w-[12rem] text-center text-white bg-blue-600 hover:bg-blue-900 hover:cursor-pointer rounded px-4 py-2 mx-0 my-8", href="https://discord.gg/levelcrush", target="_blank") Join us on Discord 
                div(class="container px-4 mx-auto mt-8 mb-16")
                    h3(class="text-4xl font-sans font-bold uppercase mb-4") FEEDBACK ? 
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        |   Ut id nisl et augue cursus euismod vitae eget lorem. Donec maximus suscipit elit, 
                        |   at egestas nulla lacinia quis. Vivamus ullamcorper velit sem, ut eleifend eros facilisis non. 
                        |   Pellentesque varius lacinia est, a fringilla ipsum pulvinar sed. Etiam rutrum sem quis mauris 
                        |   aliquam, non lacinia felis gravida. Nulla gravida mauris ac ipsum posuere, eget bibendum magna 
                        |   laoreet. Donec magna felis, semper eget dui sed, cursus sollicitudin arcu.
                        |   In scelerisque nisl ut tempor interdum. Aliquam consectetur, lorem nec hendrerit accumsan, 
                        |   felis mauris fermentum augue, ac pulvinar ipsum lorem et nulla. Ut eros magna, semper a leo at, 
                        |   semper mattis nunc. Nullam in elit massa. 
                        a(class="block max-w-[12rem] text-center text-white bg-blue-600 hover:bg-blue-900 hover:cursor-pointer rounded px-4 py-2 mx-0 my-8", href="https://discord.gg/levelcrush", target="_blank") Join us on Discord 
                div(class="container px-4 mx-auto mt-8 mb-16")
                    h3(class="text-4xl font-sans font-bold uppercase mb-4") WANT TO COLLABORATE ? 
                    p
                        |   Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        |   Ut id nisl et augue cursus euismod vitae eget lorem. Donec maximus suscipit elit, 
                        |   at egestas nulla lacinia quis. Vivamus ullamcorper velit sem, ut eleifend eros facilisis non. 
                        |   Pellentesque varius lacinia est, a fringilla ipsum pulvinar sed. Etiam rutrum sem quis mauris 
                        |   aliquam, non lacinia felis gravida. Nulla gravida mauris ac ipsum posuere, eget bibendum magna 
                        |   laoreet. Donec magna felis, semper eget dui sed, cursus sollicitudin arcu.
                        |   In scelerisque nisl ut tempor interdum. Aliquam consectetur, lorem nec hendrerit accumsan, 
                        |   felis mauris fermentum augue, ac pulvinar ipsum lorem et nulla. Ut eros magna, semper a leo at, 
                        |   semper mattis nunc. Nullam in elit massa. 
                        a(class="block max-w-[12rem] text-center text-white bg-blue-600 hover:bg-blue-900 hover:cursor-pointer rounded px-4 py-2 mx-0 my-8", href="https://discord.gg/levelcrush", target="_blank") Join us on Discord 
            div(class="flex-initial basis-full lg:basis-5/12")
                div(class="container px-4 mx-auto mt-8 mb-16")
                    h3(class="text-4xl font-sans font-bold uppercase mb-4") ACTIVITY FEED
                    p This area is currently under construction. Sorry!
        include /wrapper/footer 
