doctype html
html
    include /wrapper/head
    body
        header 
            include /body/navigation
        main(class="")
            div(class="flex-auto basis-full relative top-0 left-0 hero bg-[url('/assets/images/banner_background.png')] bg-cover bg-center h-[20rem] flex flex-col items-center justify-center border-b-8 border-solid border-cyan-400 shadow-[0px_.3rem_1rem_2px_rgba(0,0,0,0.4)]")
                    div(class="absolute top-0 left-0 bg-black opacity-[.65] w-full h-full")
                    div(class="container px-4 mx-auto flex-initial")
                        h2(class="drop-shadow text-6xl text-yellow-400 font-['atrament'] font-bold uppercase tracking-widest text-center") Looking for a group? 
            div(class="container px-4 mx-auto mt-8 mb-16")
                h3(class="text-4xl font-sans font-bold uppercase mb-4") Looking for a group?
                p
                    |   Right now we are currenlty working on our own lfg search feature. In the meantime please visit the discord to lfg. 
                    |   Thank you!
                    a(class="block max-w-[12rem] text-center text-white bg-blue-600 hover:bg-blue-900 hover:cursor-pointer rounded px-4 py-2 mx-0 my-8", href="https://discord.gg/levelcrush", target="_blank") Join us on Discord 
        
        include /wrapper/footer 
