// login.levelcrush widget
link(href=hosts.login + "/assets/widget/v1.0.0/css/main.css", type="text/css", rel="stylesheet")
script(src=hosts.login + "/assets/widget/v1.0.0/js/main.js", type="text/javascript")