//- login.levelcrush widget
link(href=hosts.login + "/assets/widget/latest/css/main.css", type="text/css", rel="stylesheet")
script(src=hosts.login + "/assets/widget/latest/js/main.js", type="text/javascript")

//- creator component here
link(href="/assets/components/creator/v1.1/css/main.css" type="text/css" rel="stylesheet")
script(src="/assets/components/creator/v1.1/js/main.js" type="text/javascript")


//- general component here