div(class="bg-[#003134] border-b-8 border-solid border-cyan-400 shadow-[0px_.5rem_.5rem_2px_rgba(0,0,0,0.7)] relative z-[99]")
    div(class="container px-4 flex mx-auto my-0 justify-between items-center flex-wrap md:flex-nowrap")
        h1(class=" align-middle  flex-auto text-center md:text-left  basis-full md:basis-auto  md:flex-initial text-yellow-400  text-4xl font-headline font-bold uppercase tracking-widest mt-8 md:mt-0") 
            a(href="/", title="Go home") Level Crush 
            div(class="levelcrush-theme inline-block w-auto h-auto text-lg" title="Toggle Dark/Light Mode")
        nav(class="flex-auto basis-full  md:flex-auto mt-8 md:mt-0")
            ul(class="flex justify-center text-lg md:text-sm lg:text-lg text-white font-semibold")
                li(class="flex-initial hover:underline hover:cursor-pointer px-4")
                    a(href="/lfg") Looking For Group 
                li(class="flex-initial hover:underline hover:cursor-pointer px-4")
                    a(href="/guides") Guides 
        div(class="flex-auto basis-full md:basis-auto  text-center mt-8 mb-8 md:mt-0 md:mb-0 md:flex-initial md:text-right levelcrush-login")