doctype html
html(class=theme)
    include /wrapper/head
    body
        header 
            include /body/navigation
        main 
            div(class="container mx-auto my-8 max-w-[50rem]")
                p 
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    | Ut id nisl et augue cursus euismod vitae eget lorem. 
                    | Donec maximus suscipit elit, at egestas nulla lacinia quis. 
                    | Vivamus ullamcorper velit sem, ut eleifend eros facilisis non.

        include /wrapper/footer