html
    head 
        title Level Crush 
    body 
        h1 Welcome to Level Crush 
        p We are working on some updates right now to our website. 
        p Join us at 
            a(href="https://discord.gg/kwgrVT2", target="_blank") https://discord.gg/kwgrVT2
    